
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}


form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-title {
  flex-grow: 1;
}

.update-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.update-btn {
  background-color: #2196f3;
  color: #fff;
}

.update-btn:hover {
  background-color: #0d8bf2;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
}

.delete-btn:hover {
  background-color: #d73028;
}
